.colorred{
    background-color: red;
}
.colorblue{
    background-color: blue;
}
.colorgreen{
    background-color: green;
}

.bgdark{
    background-color: #011a32;
}

.margin{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.textwhite{
    color: #d4d4d4;
}

.test{
    text-align: start;
}